/* body styles */
body {
  background-color: #f2f2f2;
  font-family: sans-serif;
  color: #555555;
}

/* header styles */
header {
  background-color: #c14949;
  color: white;
  height: 100px;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

header nav {
  background-color: #5cae1e;
  padding: 1px 0px 1px 0px;
  text-align: center;
}

/* nav styles */
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

nav li {
  margin-right: 20px;
  border: 1px outset brown;
  padding: 5px 10px;
}

/* main styles */
main {
  max-width: 900px;
  margin: 80px auto 0 auto;
  position: relative;
}

div.div-row {
  display: flex;
  flex-direction: row;
}

div.div-col {
  display: flex;
  flex-direction: column;
}

/* footer styles */
footer {
  text-align: center;
  margin-top: 50px;
  background-color: #003d75;
  color: white;
  padding: 20px 0 20px 0;
}

/* link styles */
nav a, footer a {
  color: white;
  text-decoration: none;
}

nav a:hover, footer a:hover {
  text-decoration: underline;
}

figcaption, div.div-col p {
  font-size: 75%;
  text-align: center;
}

/* title styles */
article h3 {
  color: #5cae1e;
}

article h2, main h2 {
  color: #993300;
}

div.div-col h2 {
  margin-top: 0;
}

/* img, figure styles */
div.div-col div.div-row {
  margin: 0 auto 20px auto;
}

div.div-row figure img {
  margin-bottom: 10px;
}

img.left-img {
  margin-right: 20px;
}

figure {
  width: 400px;
  margin-left: 0;
}

hr {
  margin: 30px 0px 30px 0px;
  padding: 0px;
}

/* feedback form styles */
#feedback-section {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#required-indicator {
  margin-left: 265px;
}

.label-component-pair {
  display: flex;
  flex-direction: row;
  margin: 20px 0 30px 0;
}

.main-label {
  text-align: right;
  margin-right: 8px;
  min-width: 260px;
  width: 260px;
  font-weight: bold;
}

abbr {
  text-decoration: none;
}

.feedback-component-pair {
  display: flex;
  flex-direction: column;
}

.feedback-message {
  color: #d41a1a;
  margin-top: -20px;
}

#user-email {
  width: 240px;
}

.submit {
  display: block;
  margin-left: auto;
}

.hidden {
  display: none;
}

/* mobile */
@media (max-width: 600px) {
  header, main, footer, #feedback-section {
    width: 100%;
  }

  nav ul {
    margin-left: 0;
    margin-right: 40px;
  }

  nav ul li {
    margin-left: 5px;
    margin-right: 5px;
    flex-grow: 1;
  }

  div.div-row {
    display: flex;
    flex-direction: column;
  }

  div.div-col div.div-row {
    margin: 0 auto;
  }

  img, img.left-img {
    margin: 0 auto 10px auto;
  }

  figure {
    margin-left: auto;
    margin-right: auto;
  }

  /* feedback form styles */
  #required-indicator {
    margin-left: 0px;
  }

  .label-component-pair {
    display: flex;
    flex-direction: column;
  }

  .main-label {
    text-align: left;
    margin-right: 0;
    min-width: 100%;
    width: 100%;
  }

  .feedback-message {
    margin-top: 0px;
  }
}

/* tablet */
@media (min-width: 600px) and (max-width: 900px) {
  div.div-col div.div-row {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  div.div-col img, img.left-img {
    margin: 0 auto 10px auto;
  }
}
